node-RED/Elsys EMS_node-RED_Github_flow.json
[{"id":"6f91498.71ff838","type":"tab","label":"Elsys EMS","disabled":false,"info":""},{"id":"b654cc50.781288","type":"ttn uplink","z":"6f91498.71ff838","name":"Elsys EMS","app":"","dev_id":"<device ID>","field":"","x":130,"y":300,"wires":[["7e071025.72113","ba7b5749.43222","7c8bc121.bc925","275ba6d4.5097ba","16511348.70562d"]]},{"id":"d1bfaf9c.8f646","type":"pushover","z":"6f91498.71ff838","name":"Closed","device":"<name of your device>","title":"","priority":0,"sound":"pushover","url":"","url_title":"","html":false,"x":840,"y":180,"wires":[]},{"id":"23c68c40.8b317c","type":"pushover","z":"6f91498.71ff838","name":"Open","device":"<name of your device>","title":"","priority":0,"sound":"pushover","url":"","url_title":"","html":false,"x":830,"y":280,"wires":[]},{"id":"1f5414eb.ce2053","type":"debug","z":"6f91498.71ff838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"9b5efda0.6daec8","type":"ui_gauge","z":"6f91498.71ff838","name":"","group":"32636134.f7eb66","order":3,"width":"5","height":"5","gtype":"gage","title":"","label":"%","format":"{{value}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":600,"wires":[]},{"id":"efc0f041.7eb01","type":"ui_gauge","z":"6f91498.71ff838","name":"","group":"8ce407e4.5e5e3","order":4,"width":"5","height":"5","gtype":"gage","title":"","label":"V","format":"{{value}}","min":"1","max":"4","colors":["#ff0000","#e6e600","#318409"],"seg1":"2","seg2":"3","x":830,"y":720,"wires":[]},{"id":"a5396a2c.cb22d","type":"ui_chart","z":"6f91498.71ff838","name":"","group":"1feb45f8.8216da","order":0,"width":"6","height":"5","label":"{{msg.payload.temperature}}","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":true,"ymin":"10","ymax":"30","removeOlder":"24","removeOlderPoints":"24","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":480,"wires":[[]]},{"id":"d7dd3be8.e39248","type":"unit-converter","z":"6f91498.71ff838","category":"voltage","inputUnit":"mV","outputUnit":"V","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"Converter","x":640,"y":740,"wires":[["efc0f041.7eb01","a6728d80.ab88e8"]]},{"id":"c7c204b6.16ed38","type":"ui_button","z":"6f91498.71ff838","name":"Door closed","group":"a31b1a5d.f261e","order":0,"width":0,"height":0,"passthru":true,"label":"Door Closed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Door is closed","payloadType":"str","topic":"","x":650,"y":160,"wires":[["d1bfaf9c.8f646","1f5414eb.ce2053","81ceec47.9f9d5"]]},{"id":"e58241e6.c75b88","type":"ui_button","z":"6f91498.71ff838","name":"","group":"a31b1a5d.f261e","order":1,"width":0,"height":0,"passthru":true,"label":"Door open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Door is open","payloadType":"str","topic":"","x":650,"y":240,"wires":[["23c68c40.8b317c","5aab9efc.9bbfe8","efcc56a0.b0aaf8"]]},{"id":"bafe9c70.a048b","type":"switch","z":"6f91498.71ff838","name":"","property":"payload.digital","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":180,"wires":[["c7c204b6.16ed38"],["e58241e6.c75b88"]]},{"id":"5aab9efc.9bbfe8","type":"debug","z":"6f91498.71ff838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":240,"wires":[]},{"id":"a6728d80.ab88e8","type":"debug","z":"6f91498.71ff838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":760,"wires":[]},{"id":"7de43fbb.d37758","type":"debug","z":"6f91498.71ff838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":520,"wires":[]},{"id":"186f8dc5.a9c03a","type":"debug","z":"6f91498.71ff838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":680,"wires":[]},{"id":"ba7b5749.43222","type":"change","z":"6f91498.71ff838","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["a5396a2c.cb22d","7de43fbb.d37758"]]},{"id":"7c8bc121.bc925","type":"change","z":"6f91498.71ff838","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":480,"wires":[["9b5efda0.6daec8","186f8dc5.a9c03a"]]},{"id":"275ba6d4.5097ba","type":"change","z":"6f91498.71ff838","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vdd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["d7dd3be8.e39248"]]},{"id":"3d601eb8.a0774a","type":"inject","z":"6f91498.71ff838","name":"payload sample","topic":"","payload":"{\"accMotion\":0,\"digital\":0,\"humidity\":39,\"pulseAbs\":243,\"temperature\":21.4,\"vdd\":3638,\"waterleak\":0,\"x\":0,\"y\":1,\"z\":61}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[[]]},{"id":"1c4a373e.0132d1","type":"ui_led","z":"6f91498.71ff838","group":"a31b1a5d.f261e","order":2,"width":0,"height":0,"label":"Door status: green closed, red open","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"num"},{"color":"red","value":"0","valueType":"num"}],"allowColorForValueInMessage":true,"name":"","x":630,"y":400,"wires":[]},{"id":"38ecc4ac.c9918c","type":"comment","z":"6f91498.71ff838","name":"TTN node payload","info":"","x":150,"y":260,"wires":[]},{"id":"7e071025.72113","type":"change","z":"6f91498.71ff838","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.digital","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["1c4a373e.0132d1"]]},{"id":"efcc56a0.b0aaf8","type":"ui_audio","z":"6f91498.71ff838","name":"door is open","group":"a31b1a5d.f261e","voice":"","always":"","x":850,"y":320,"wires":[]},{"id":"81ceec47.9f9d5","type":"ui_audio","z":"6f91498.71ff838","name":"door is closed","group":"a31b1a5d.f261e","voice":"en-US","always":"","x":860,"y":100,"wires":[]},{"id":"40071865.bad388","type":"comment","z":"6f91498.71ff838","name":"filter 1 or 0 from payload","info":"","x":430,"y":140,"wires":[]},{"id":"19c4b489.640743","type":"comment","z":"6f91498.71ff838","name":"filter values from payload","info":"","x":430,"y":360,"wires":[]},{"id":"af1d8560.d18478","type":"comment","z":"6f91498.71ff838","name":"wire only for test","info":"","x":140,"y":400,"wires":[]},{"id":"5174e863.81c4d8","type":"comment","z":"6f91498.71ff838","name":"temperature chart on dashboard","info":"","x":710,"y":440,"wires":[]},{"id":"914a35a7.6abf","type":"comment","z":"6f91498.71ff838","name":"humidity chart on dashboard","info":"","x":700,"y":560,"wires":[]},{"id":"2a4f4eb9.dd387a","type":"comment","z":"6f91498.71ff838","name":"battery voltage gauge on dashboard","info":"","x":720,"y":640,"wires":[]},{"id":"ed74bacb.edc308","type":"comment","z":"6f91498.71ff838","name":"text to speak ","info":"","x":1030,"y":100,"wires":[]},{"id":"282779f2.df73be","type":"comment","z":"6f91498.71ff838","name":"pushover sends message to phone etc. ","info":"","x":1120,"y":180,"wires":[]},{"id":"174f127d.75c046","type":"comment","z":"6f91498.71ff838","name":"convert from millivolt to volt","info":"","x":700,"y":800,"wires":[]},{"id":"65505e30.b6e68","type":"comment","z":"6f91498.71ff838","name":"pushover sends message to phone etc. ","info":"","x":1120,"y":300,"wires":[]},{"id":"90b56aac.c6f098","type":"comment","z":"6f91498.71ff838","name":"text to speak ","info":"","x":1030,"y":340,"wires":[]},{"id":"16511348.70562d","type":"rbe","z":"6f91498.71ff838","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.digital","x":390,"y":260,"wires":[["bafe9c70.a048b"]]},{"id":"27fc8041.2be05","type":"comment","z":"6f91498.71ff838","name":"to prevent sending constant messages","info":"","x":470,"y":300,"wires":[]},{"id":"5dd116b9.d0b948","type":"comment","z":"6f91498.71ff838","name":"statuys led on dashboard","info":"","x":690,"y":360,"wires":[]},{"id":"32636134.f7eb66","type":"ui_group","z":"","name":"Humidity","tab":"3b6ac518.9a2172","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ce407e4.5e5e3","type":"ui_group","z":"","name":"Battery voltage","tab":"3b6ac518.9a2172","order":4,"disp":true,"width":"6","collapse":false},{"id":"1feb45f8.8216da","type":"ui_group","z":"","name":"Temperature","tab":"3b6ac518.9a2172","order":2,"disp":true,"width":"6","collapse":false},{"id":"a31b1a5d.f261e","type":"ui_group","z":"","name":"","tab":"3b6ac518.9a2172","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b6ac518.9a2172","type":"ui_tab","z":"","name":"<new group name>","icon":"dashboard","order":13,"disabled":false,"hidden":false}]